
@import url("https://fonts.googleapis.com/css?family=Varela+Round");
/* Размеры скроллбара */
::-webkit-scrollbar {
    width: 5px;
}

/* Трек поле скроллбара */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0);
    background: rgba(255, 255, 255, 0);
}

/* Ползунок скроллбара */
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgb(117, 82, 49);
    background: rgb(231, 167, 143);
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Cormorant Garamond', serif;
    background-image: url("../img/phoneHeadder1.png");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

/* навигационное меню  */
nav {
    padding: 0;
    margin: 0;
}

.logo {
    color: #40301C;
    font-family: 'DM Serif Display', serif;
    font-weight: lighter;
    text-align: center;
    float: left;
    margin: 30px 0 0 100px;
}

    .logo h2 {
        font-size: 25px;
    }

    .logo h3 {
        font-size: 22px;
    }

a {
    text-decoration: none;
}

.menu a {
    color: #644229;
}

    .menu a:hover {
        color: #b6471e;
    }
button {
    transition: all 700ms ease;
}
.head button {
    margin: 80px 0 0 80px;
    padding: 15px;
    height: 80px;
    background-color: #F8D7B1;
    border: none;
    border-radius: 8px;
    box-shadow: 10px 10px 20px 5px rgba(169, 82, 19, 0.25);
    font-family: 'Cormorant Garamond', serif;
    font-size: 27px;
    color: #A95A12;
    transition: all 700ms ease;
}
    .head button:hover {
        box-shadow: 15px 15px 30px 7px rgba(169, 82, 19, 0.25);
        background-color: white;
        color: #f86a36;
    }
    .head button:active {
        outline: none;
        background-color: #F8D7B1;
        color: white;
        transition: all 0s ease;
    }

.menu li:first-child {
    padding-left: 220px;
}

ul, li {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 18px 0 0 40px;
    margin: 0 45px;
    list-style: none;
}
/* контент шапки */
.head-content {
    color: #843D07;
    width: 650px;
    margin: -60px 0 0 80px;
    padding-top: 200px;
}

    .head-content h1 {
        font-size: 30px;
    }

    .head-content h3 {
        padding-top: 30px;
        font-size: 18px;
        color: #A56C25;
    }
        
