@Styles.Render("~/Content/StyleTable.css")
<div class="table-phone">
    <div class="content-create"></div>
    @model WebApplicationMikhaylova.Models.Parameters

    @{
        ViewBag.Title = "Delete";
    }
    <div class="title-table" style="padding-top:-20px">
        <h3>Удаление категории</h3>
        <h5>Вы уверены, что хотите удалить данную категорию из списка?</h5>
        <div class="button-last">
            @Html.ActionLink("Вернуться к категориям", "Index")
        </div>
        <hr />
    </div>
    <div class="titles-delete">
        <h6>Отменить это действие будет невозможно</h6>
    </div>
    <div>
        <div class="table">
            <dl class="dl-horizontal">
                <dt>
                    Название категории
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.parameter)
                </dd>

            </dl>
        </div>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <div class="but">
                    <input type="submit" value="Удалить данную категорию" class="button" />
                </div>
            </div>
        }
    </div>
</div>
