<div class="head">
    @{
        ViewBag.Title = "Home Page";
}

<div class="head-content">
    <h1>АДМИНИСТРАТОРСКАЯ ЧАСТЬ ПРИЛОЖЕНИЯ ПРОГРАММНОГО ПРОДУКТА «КОНДИТЕРСКИЙ МАГАЗИН “PATETICO”»</h1>
    <h3>Здесь Вы можете отредактировать данные о товарах, категориях товаров, пунктах выдачи и изменить статусы заказов! Также доступен просмотр содержимого заказов пользователей и удаление различных позиций в таблицах базы данных.</h3>
</div>
<button class="goToProducts" onclick="location.href = '/Products';"> Перейти к каталогу товаров</button>

</div>